@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
ul{
  list-style-type: none;
}
body{
  margin: 20px;
  background-color: #1e1e1f;
}